* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}
.main{
  padding: 50px ;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: rgb(16, 16, 16);
}
.main-inner{
  display: flex;
  width: 100%;
  padding-top: 50px;
}
.left{
  width: 50%;
  overflow-y:auto;
  height: 500px;
}
.right{
  width: 50%;
  padding:0 100px;
}
label {
  padding-right: 10px;
}

input {
  /* margin-bottom: 20px; */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td{
  padding: 20px 20px;
}


